# IDE
.idea/
*.iml
*.ipr
*.iws

# Build output
*/target/
build/
*.jar
*.war
*.ear
*.class
*.properties

# Maven-specific
log/
*.log
maven-error.log
dependency-reduced-pom.xml
.dependency-reduced-pom.xml

# Test output
test-output/
surefire-reports/
failsafe-reports/

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
*~
*.swp

# Ignore encoding.xml and compiler.xml files
/encoding.xml
/compiler.xml
